<mat-card class="period-form-wrapper">
  <mat-card-title>Period form</mat-card-title>
  <mat-card-content>
      <form class="period-form form" [formGroup]="periodForm" novalidate (ngSubmit)="submit()">
        <div class="form-group">
          <mat-form-field appearance="outline">
              <mat-label>Start date</mat-label>
              <input matInput [min]="minDate" [matDatepicker]="startPicker" placeholder="Choosert date" formControlName="startDate">
              <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
              <mat-datepicker #startPicker></mat-datepicker>
            </mat-form-field>
        </div>

          <div class="form-group">
            <mat-form-field appearance="outline">
                <mat-label>Period</mat-label>
                <mat-select placeholder="Choose period" formControlName="period">
                    <mat-option *ngFor="let period of periods" [value]="period.value">
                      {{period.title}}
                    </mat-option>
                  </mat-select>
              </mat-form-field>
          </div>

          <div class="form-group">
              <mat-form-field appearance="outline">
                  <mat-label>End date</mat-label>
                  <input matInput [matDatepicker]="endPicker" placeholder="Choose date" formControlName="endDate">
                  <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
                  <mat-datepicker #endPicker></mat-datepicker>
                </mat-form-field>
          </div>

          <div class="form-group">
              <button [disabled]="!periodForm.valid" type="submit" mat-raised-button color="primary">Submit</button>
          </div>
        </form>
  </mat-card-content>
</mat-card>